useDynLib(BitBreedingSim, .registration = TRUE)
import(Rcpp)
export(createBaseInfo)
export(getInfo)
export(setTrait)
export(setTraitADMulti)
export(createOrigins)
export(cross)
export(getPopInfo)
export(getPhenotypes)
export(selectPop)
